<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wonderv2">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WonderV2">
        <activity
            android:name=".Setting.Setting_main"
            android:exported="true" />
        <activity
            android:name=".Setting.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Setting.Setting_alarm"
            android:exported="true" />
        <activity
            android:name=".Home.Home_shop_aromatica_detail"
            android:exported="true" />
        <activity
            android:name=".Home.Home_shop_earth_detail"
            android:exported="true" />
        <activity
            android:name=".Home.Home_shop_chaeum_detail"
            android:exported="true" />
        <activity
            android:name=".AR.AR_splash_scan"
            android:exported="true" />
        <activity
            android:name=".AR.AR_complete"
            android:exported="true" />
        <activity
            android:name=".AR.AR_select_chaeum"
            android:exported="true" />
        <activity
            android:name=".AR.AR_select_aromatica"
            android:exported="true" />
        <activity
            android:name=".AR.AR_select_earth"
            android:exported="true" />
        <activity
            android:name=".AR.AR_select_almaeng"
            android:exported="true" />
        <activity
            android:name=".Home.Home_PagerAdapter"
            android:exported="true" />
        <activity
            android:name=".Sign.Sign_up"
            android:exported="true" />
        <activity
            android:name=".Sign.Sign_in"
            android:exported="true" />
        <activity android:name=".Exp.CaptureForm" />
        <activity
            android:name=".Exp.Exp_camera"
            android:exported="true" />
        <activity
            android:name=".AR.AR_camera"
            android:exported="true" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCncbR2iaW8jj0gNKxb4azsDW1ZDB-BlJ0" />
        <meta-data
            android:name="com.google.android.ges.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Home.Home_shop_almaeng_detail"
            android:exported="true" />
        <activity
            android:name=".Exp.Exp_detail"
            android:exported="true" />
        <activity
            android:name=".AR.AR_select_item"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>